/* Hero section  */
.hero {
    position: relative;
    width: 1440px;
    /* height: 1024px; */

    background: #FFFFFF;

    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px;
    gap: 32px;
    flex: 1;
    
}


.flex{
    display: flex;
    flex-direction: row;
    
    /* order: 2; */
    gap: 1px;
    flex: 0 1 25%;
    /* flex: 4; */
}

.flex-item{
    
    flex: 1 0 25%;
}

.blueb{
    /* flex: 1 0 25%; */
    /* Button */

    width: 142px;
    height: 44px;

    /* Primary/300 - base */
    background: #0065FE;
    border-radius: 100px;


    font-family: 'Gilroy-SemiBold', 'Roboto', 'Questrial';
    font-size: 16px;
    line-height: 12px;
    /* identical to box height, or 75% */

    /* Neutral/White */
    color: #FFFFFF;


   

}